<aside class="sidebar">
  <nav class="sidebar-nav">
    @if(sds.isSoftOwner()) {
      <a class="nav-item" pTooltip="Home" routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="pi pi-home"></i>
      </a>
      <a class="nav-item" pTooltip="Businesses" routerLink="/admin/businesses" routerLinkActive="active">
        <i class="pi pi-briefcase"></i>
      </a>
      <a class="nav-item" pTooltip="Users" routerLink="/admin/users" routerLinkActive="active">
        <i class="pi pi-users"></i>
      </a>
    }

    @else if(sds.isShopOwner()) {
      <a class="nav-item" pTooltip="Home" routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="pi pi-home"></i>
      </a>
      <a class="nav-item" pTooltip="Orders" routerLink="/admin/orders" routerLinkActive="active">
        <i class="pi pi-shopping-cart"></i>
      </a>
      <a class="nav-item" pTooltip="Customers" routerLink="/admin/customers" routerLinkActive="active">
        <i class="pi pi-users"></i>
      </a>
      <a class="nav-item" pTooltip="Measurements" routerLink="/admin/measurements" routerLinkActive="active">
        <i class="pi pi-book"></i>
      </a>
      <a class="nav-item" pTooltip="Suite Types" routerLink="/admin/suit-types" routerLinkActive="active">
       <i class="fa fa-shirt"></i>
      </a>
    }
  </nav>
</aside>