<div class="d-flex justify-content-between align-items-center mb-5">
    <!-- Left: Title with refresh button -->
    <h5 class="fw-bold m-0">
        <p-button rounded="true" size="large" pTooltip="Refresh Users" (onClick)="loadSuitTypes();" icon="pi pi-refresh" styleClass="clr-dark-grey fw-bold" [link]="true"></p-button> Suit Types
    </h5>
    <!-- Right: Dropdown + New Order button -->
    <div class="d-flex align-items-center gap-3">
        <p-select (onChange)="loadSuitTypes();" size="small" [options]="filterStatusValues" [(ngModel)]="selectedStatus" optionLabel="value" placeholder="Filter by Status" class="min-w-[200px]"></p-select>
        <button pButton size="small" label="Suit Type" (click)="addUpdateSuitTypeDialog()" class="p-button-primary"><i class="fas fa-shirt"></i> </button>
    </div>
</div>

<p-table [value]="suitTypes" size="small" #dt [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,50]" stripedRows size="small" [totalRecords]="totalSuitTypes" dataKey="userId" sortField="userId" [resizableColumns]="true" showGridlines="true">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Status</th>
            <th style="width: 120px">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-st>
        <tr>
            <td>{{st.id}}</td>
            <td>{{ st.name }}</td>
            <td [pTooltip]="st.description">{{ st.description | truncate: 25 }}</td>
            <td>{{ st.price | currency: 'PKR'}}</td>
            <td>{{ st.createdAt | date: 'dd-mm-yyyy'}}</td>
            <td>
                <p-toggleSwitch [(ngModel)]="st.isActive" [disabled]="st.isDeleted" [pTooltip]="st.isActive ? 'Active' : 'Inactive'" (onChange)="toggleSuitTypeStatus(st)" />
            </td>
            <td>
                <div class="flex flex-wrap gap-1">
                    <button [disabled]="st.isDeleted || !st.isActive" pButton icon="pi pi-pencil" class="p-button-sm p-button-rounded p-button-text" pTooltip="Edit" tooltipPosition="top" (click)="addUpdateSuitTypeDialog(st)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-sm p-button-rounded p-button-text p-button-danger" pTooltip="Delete" [disabled]="st.isDeleted" tooltipPosition="top" (click)="confirmDelete(st)"></button>
                    <button pButton icon="pi pi-ellipsis-v" (click)="stRestoreId = st.id; suitType = st; selectedStatus.id == 2 ? menuDelete.toggle($event) : selectedStatus.id == 1 ? menu.toggle($event): null" class="p-button-sm p-button-rounded p-button-text" pTooltip="Suit Type Parameters" tooltipPosition="top"></button>
                </div>
                <p-menu #menu appendTo="body" [model]="items" [popup]="true" />
                <p-menu #menuDelete appendTo="body" [popup]="true" [model]="itemsDelete" />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        @if(!loadingService.getLoading) {
            <tr>
                <td colspan="8" class="text-center py-5">
                    <div class="flex flex-column align-items-center">
                        <i class="pi pi-users text-4xl text-400 mb-3"></i>
                        <h4 class="mb-1">No users found</h4>
                        <p class="text-600">Add your first user to get started</p>
                        <button pButton label="Add User" icon="pi pi-plus" class="p-button-outlined mt-3" (click)="addUpdateSuitTypeDialog()"></button>
                    </div>
                </td>
            </tr>
        }
    </ng-template>
</p-table>
<p-confirmDialog/>



