/* You can add global styles to this file, and also import other style files */
/* Import Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'css_variables.css';

/* Import PrimeNG theme */
@import 'primeicons/primeicons.css';

/* Custom styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
}

/* styles.css */
html, body { 
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Ensure PrimeNG components don't overflow */
.p-autocomplete {
  width: 100% !important;
}

/* Fix for Bootstrap rows */
.row {
  margin-right: 0;
  margin-left: 0;
}

/* Fix for dashboard cards */
.card {
  min-width: 0; /* Prevent flexbox overflow */
}

.clr-dark-grey {
  color: var(--gray-dark) !important;
}

.fw-bold {
  font-weight: var(--font-weight-bold) !important;
}

.fw-extra-bold {
  font-weight: var(--font-weight-extra-bold) !important;
}