@import 'css_variables.css';
@import 'primeicons/primeicons.css';

body {
  background-color: #f8f9fa;
}


html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.clr-dark-grey {
  color: var(--gray-dark) !important;
}

.fw-bold {
  font-weight: var(--font-weight-bold) !important;
}

.fw-extra-bold {
  font-weight: var(--font-weight-extra-bold) !important;
}







